<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<array>
		<string>00 ㄟ</string>
		<string>01 死小孩</string>
		<string>02 蛤</string>
		<string>03 你是在蛤三小</string>
		<string>04 臭奶呆</string>
		<string>05 X</string>
		<string>06 阿囉哈</string>
		<string>07 得修</string>
		<string>08 超爽得</string>
		<string>09 撿到一百塊</string>
		<string>10 黑人給我閉嘴</string>
		<string>11 歐巴馬</string>
		<string>12 歐巴馬是誰</string>
		<string>13 我才不告訴你哩</string>
		<string>14 ㄟㄟ</string>
	</array>
	<key>Timestamp</key>
	<array>
		<string>2:03</string>
		<string>2:05</string>
		<string>2:06</string>
		<string>2:07</string>
		<string>2:08</string>
		<string>2:09</string>
		<string>2:13</string>
		<string>2:16</string>
		<string>2:21</string>
		<string>2:22</string>
		<string>2:27</string>
		<string>2:28</string>
		<string>2:30</string>
		<string>2:32</string>
		<string>2:35</string>
	</array>
</dict>
</plist>
